body {
    background-color: lightblue;
}

.div-0 {
    height: 100px;
    width: 200px;
}

.div-1 {
    height: 80px;
    width: 200px;

}

.div-2 {
    height: 80px;
    width: 200px;
}

.div-3 {
    height: 50px;
    width: 200px;
}

.div-4 {
    height: 40px;
    width: 200px;
}

#img-coffee {
    width: 200px;
    height: 100px;
}